body{
    background-color: #008b8b;
}
h1{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#table{
    background-color: red;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}